<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>

      <div class="topics__header">
        <h2>Browse Topics</h2>
      </div>
      <ul class="topics__list">
        <li>
          <a href="/" class="active">All <span> {{topics.count}} </span></a>
        </li>
        <li>

          {% for topic in topics %}
          <div>
            <h4>
              <a href=" {% url 'index' %}?q={{topic.name}} ">{{topic.name}}  <span>{{topic.room_set.all.count}}</span> </a>
            </h4>
          </div>
          {% endfor %}
          
        </li>
      
      </ul>
      <a class="btn btn--link" href=" {% url 'topics'  %} ">
        More
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          width="32"
          height="32"
          viewBox="0 0 32 32"
        >
          <title>chevron-down</title>
          <path d="M16 21l-13-13h-3l16 16 16-16h-3l-13 13z"></path>
        </svg>
      </a>



    {% comment %} <h4>Browse topic</h4>
    <hr />
    <div>
      <h4><a href=" {% url 'index' %} ">All</a></h4>
    </div>
    {% for topic in topics %}
    <div>
      <h4>
        <a href=" {% url 'index' %}?q={{topic.name}} ">{{topic.name}}</a>
      </h4>
    </div>
    {% endfor %} {% endcomment %}
  </body>
</html>
